/* body {
  background-color: rgba(15, 14, 14, 0.897);
  text-align: center;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-family: "Rubik", sans-serif;
  color: lightgrey;
} */

.container {
  height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 100px;
    grid-template-areas: 
        "m m h h h h i i i i i i"
        "m m c c c c i i i i i i"
        "m m c c c c i i i i i i"
        "f f f f f f f f f f f f";
}

.image {
  grid-area: i;
  object-fit: contain;
  width: 100%;
  overflow: hidden;
}
.inventions {
    grid-area: h;
}

.music {
    grid-area: m;
}

.theories {
    grid-area: c;
}

.about{
    grid-area: f;
}

/* .main {
  width: 100%;
  height: 100%;
  background: darkgray;
  padding: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4fr 4fr;
}

.articleWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  margin-left: 20px;
  background: lightgrey;
  padding: 50px;
  box-sizing: border-box;
}

.article > h1#title {
  font-family: cursive;
  color: grey;
  text-align: left;
  margin-bottom: 0px;
}

.article > h2#timeStamp {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #6d4427;
  text-align: left;
  font-style: italic;
  margin-top: 0;
  margin-top: 0px;
}

.article > p#content {
  font-family: "Rubik", sans-serif;
  text-align: left;
} */
/* 
.imageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  margin-top: 20px;
  margin-left: 20px;
  background: lightgrey;
  padding: 20px;
  box-sizing: border-box;
}

.imageWrapper > div#image {
  display: grid;
  grid-column: 2 / -2;
  grid-row: 1 / -2;
  margin-left: 20px;
  margin-right: 20px;
}

.imageWrapper > p#description {
  display: grid;
  padding-top: 20px;
  grid-column: 1 / -1;
  font-family: "Rubik", sans-serif;
} */
